<% layout('/Layout/boilerplate.ejs') %>

<div class="container ">
  <div class="row">
    <div class="col-6">
      <div class="card">
        <img class="img-fluid" src="<%= campground.Image %>" alt="">
        <div class="card-body">
          <h1>Campground show</h1>
          <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" id="name" name="name" class="form-control" value="<%= campground.name %>">
            </div>
            <div class="form-group">
              <label for="price">Price</label>
              <input type="number" id="price" name="price" class="form-control" value="<%= campground.price %>">
            </div>
            <div class="form-group">
              <label for="location">Location</label>
              <input type="text" id="location" name="location" class="form-control" value="<%= campground.location %>">
            </div>
            <div class="mb-3">
              <label for="formFile" class="form-label">Add images..</label>
              <input class="form-control" type="file" id="image" name="image" multiple>
            </div>
            <div class="mb-3 ">
              <% campground.Image.forEach(function(img,i){%>
                <img src="<%= img.thumbnail %>" alt="">
                <div class="mb-3">
                  <label for="image-<%=i%>">Delete</label>
                  <input type="checkbox" id="image-<%=i%>" name="deleteImages[]" value="<%= img.filename  %>" >
                </div>
               
               
                <% }) %>
            </div>
           
            
            <div class="form-group">
              <label for="description">Description</label>
              <textarea id="description" name="description" class="form-control"><%= campground.description %></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
          </form>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">A third item</li>
        </ul>
       
      </div>
    </div>
  </div>
</div>
