<% layout('/Layout/boilerplate.ejs') %>
<link rel="stylesheet" href="/js/stars.css">

<script>  console.log('imported');const mapToken= '<%- process.env.MAPBOX_TOKEN %>'; </script>
<div class="container w-75">
  <div class="row">
    <div class="col-md-6 mb-3">
     
      <div class="card">
        <div id="map" style="width: 400px; height: 300px;"></div>
        <div class="card-body">
          <h3>Campground show</h3>
          <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
              <% for (img of campground.Image) { %>
                <div class="carousel-item <%= img === campground.Image[0] ? 'active' : '' %>">
                  <img src="<%= img.url %>" class="d-block w-100" alt="...">
                </div>
              <% } %>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          <h5 class="card-title"><%= campground.title %></h5>
          <p class="card-text"><%= campground.description %></p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><%= campground.location %></li>
          <li class="list-group-item"><%= campground.price %></li>
          <li class="list-group-item">A third item</li>
          <li class="list-group-item">Submitted by <%= campground.author.username %></li>
        </ul>
        <% if (currentUser && campground.author.equals(currentUser._id)) { %>
          <div class="card-body">
            <a href="/campgrounds/<%= campground._id %>/edit" class="btn btn-primary card-link">Update and edit</a>
            <form class="d-inline" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
              <button class="btn btn-danger">delete</button>
            </form>
          </div>
        <% } %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <% if (currentUser) { %>
            <h6>Leave a review!</h6>
            <form action="/campgrounds/<%= campground._id %>/reviews" method="post">
              <div class="mb-3">
                <label class="form-label" for="rating">Rating</label>
                <input class="form-range" type="range" name="review[rating]" id="rating" min="1" max="5">
                <div class="mb-3">
                  <label class="form-label" for="review">Review</label>
                  <textarea class="form-control" name="review[body]" id="body" cols="10" rows="3"></textarea>
                </div>
                <button class="btn btn-success">submit</button>
              </div>
            </form>
          <% } %>
          <% for (var review of campground.reviews) { %>
            <div class="card mb-2">
              <div class="card-body">
                <p class="starability-result" data-rating="3">
                  Rated: <%= review.rating %>
                </p>
                <h6 class="card-subtitle mb-2 text-muted">By <%= review.author.username %></h6>
                <p>Body: <%= review.body %></p>
                <form action="/campgrounds/<%= campground._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST">
                  <% if (currentUser && review.author.equals(currentUser._id)) { %>
                    <button class="btn btn-sm btn-danger">Delete</button>
                  <% } %>
                </form>
              </div>
            </div>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  const campground= '<%- JSON.stringify(campground)  %>'
</script>

<script src="/js/showMap.js">

</script>
